<h1>Create your Listing</h1>
<%= form_for @listing do |l|%>
    <%= l.label :title %>
    <%= l.text_field :title %> <br>
    <%# FINISH THE REST  %>
    <%= l.label :description %>
    <%= l.text_area :description %> <br>

    <%= l.label :address %>
    <%= l.text_field :address %> <br>

    <%= l.label :rental_type %>
    <%= l.text_field :rental_type %> <br>

    <%= l.label :price %>
    <%= l.text_field :price %> <br>

    <%= l.label :amenities %>
    <%= l.text_field :amenities %> <br>
    <%=l.label :image %><br>
    <%=l.file_field :image%>
    
    <%= l.submit%>
<% end %>
<!-- label :host_id -->
   <!--text_field :host_id %> <br>-->
<!--
    <!-- <label :neighborhood_id %>-->
    <!-- text_field :neighborhood_id %> <br>-->
        