<h1><%= @listing.title%></h1> 
<%if @listing.image.attached?%>
<%=image_tag url_for(@listing.image)%><br>
<%end%>
<strong>Description</strong>
<hr>
<h2><%= @listing.description%></h2><br>
<strong>Host: </strong> <%=link_to @listing.host.first_name,user_path(@listing.host_id) %><br>
<strong>Stay price per night: </strong><%=@listing.price%></h1> <br>
<strong>Location:</strong> <%=  @listing.address%><br>
<strong>Amenities:</strong> <%= @listing.amenities%><br>
<strong>Rental type:</strong> <%= @listing.rental_type%><br>

<hr>
Property Owner: <%= link_to @listing.host.first_name, user_path(@listing.host)%> <br>
Reviews <br>
<ul>
<% @listing.reviews.all.each do |review|%>
   <li> <%= link_to review.title, review_path(review)%></li>
<% end %>
</ul>
