<h1 class="title"><%= @listing.title%></h1>
<strong>Property Owner: </strong><%= link_to @listing.host.first_name, user_path(@listing.host)%>
 <figure class="image is-3by2">

<%if @listing.image.attached?%>
<img <%=image_tag url_for(@listing.image)%> > <br>
<%end%>
</figure>
<strong>Location:</strong> <%=  @listing.location.country%>, <%=  @listing.location.city%>  <br>

<br>
<br>

<section class="section">
<div class="container">
  <h1 class="title">Description</h1>
<h2><%= @listing.description%></h2><br>
<strong>Amenities:</strong> <%= @listing.amenities%><br>
<strong>Rental type:</strong> <%= @listing.rental_type%><br>
<h1><strong>Stay price per night: </strong>$<%=@listing.price%> </h1><br>

<%=link_to 'reserve', new_listing_reservation_path(@listing.id)%>
ğ–«ğ—‚ğ—„ğ–¾ ğ—ğ—ğ–ºğ— ğ—’ğ—ˆğ— ğ—Œğ–¾ğ–¾?<br>
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  
 <i class="icon-arrow-down"></i>
  
<br>
<div class="field-body">
  <div class="field">
<div class="control">
<a href=" /listings/listing.id/reservations/new ">
<button class="button is-primary">

Reserve
</button>
</a>
</div>
 </div>
</div>

</h2>
</div>
</section>
<section class="section">
    <div class="container">
      <h1 class="title">Reviews</h1><br>
      <h2 class="subtitle">
       <% if current_user %>
<ul>
<article class="media">
  <figure class="media-left">
    <p class="image is-64x64">
      <img src="https://immedilet-invest.com/wp-content/uploads/2016/01/user-placeholder.jpg">
    </p>
  </figure>
  <div class="media-content">
    <div class="field">
      <p class="control">
        <textarea class="textarea" placeholder="Add a review..."></textarea>
      </p>
    </div>
    <nav class="level">
      <div class="level-left">
        <div class="level-item">
          <a class="button is-info">Submit</a>
        </div>
      </div>
 
    </nav>
  </div>
</article>
<%else%>
<%if @listing.reviews.all.any? %>
<div class="box">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
<% review= @listing.reviews.all.each do |review|%>
   <li> <%= link_to review.title, review_path(review)%></li>
<% end %>
<%else%>
<hr>
This listing has no reviews yet !
<%end%>
</ul>
</p>
</div>

</nav>
</div>
</article>
</div>

</h2>
</div>
</section>
</body>
<%end%>