<h1 class="title"><%= @listing.title%></h1>
<%=link_to "write review", new_review_path%>


<strong>Property Owner: </strong><%= link_to @listing.host.first_name, user_path(@listing.host)%><br>
<div class="container is-fluid">

<figure class="image is-3by2">

<%if @listing.image.attached?%>
<img <%=image_tag url_for(@listing.image)%> > <br>
<%end%>
</figure>
Â <%= yield %>
Â Â Â Â </div>
<strong>Location:</strong> <%=  @listing.location.country%>, <%=  @listing.location.city%>  <br>

<br>
<br>

<section class="section">
<div class="container">
  <h1 class="title">Description</h1>
<h2><%= @listing.description%></h2><br>
<strong>Amenities:</strong> <%= @listing.amenities%><br>
<strong>Rental type:</strong> <%= @listing.rental_type%><br>
<h1><strong>Stay price per night: </strong>$<%=@listing.price%> </h1><br>
<%if @listing.host != current_user%>


ğ–«ğ—‚ğ—„ğ–¾ ğ—ğ—ğ–ºğ— ğ—’ğ—ˆğ— ğ—Œğ–¾ğ–¾?<br>
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  
 <i class="icon-arrow-down"></i>
  
<br>

<div class="field-body">
  <div class="field">
<div class="control">
<a href="<%=new_listing_reservation_path(@listing.id)%>">
<button class="button is-primary">

Reserve
</button>
</a>
</div>
 </div>
</div>

</h2>
</div>
</section>
<%else%>




<div class="dropdown is-hoverable">
  <div class="dropdown-trigger">
    <button class="button is-info" aria-haspopup="true" aria-controls="dropdown-menu4">
      <span>Listing Options</span>
      <span class="icon is-small">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
  </div>
  <div class="dropdown-menu" id="dropdown-menu4" role="menu">
    <div class="dropdown-content">
      <div class="dropdown-item">
        <p><%= link_to "Edit listing",edit_listing_path %></p>
        <p><%= link_to "Delete this listing", @listing, method: :delete %></p>
      </div>
    </div>
  </div>
</div>


<%end%>

<section class="section">
    <div class="container">
       <% if current_user %>
       <div class="container is-fluid">


<main class="container content box">

	<h1 class="title">Your Feedback is Important</h1>
	
	<form method="post" action="/2/reviews">
		<div class="field">
			<label class="label" for="the_name">Title</label>
			<input type="text" name="name" id="the_name" class="input">
		</div>

		
	<div class="field">
			<label class="label" for="the_name">rating</label>
			<input type="text" name="name" id="the_name" class="input">
		</div>
		<div class="field">
			<label class="label" for="the_message">Review</label>
			<textarea name="message" id="the_message" class="textarea"></textarea>
		</div>

		<div class="field">
			<input type="submit" class="button is-primary">
		</div>
	</form>

</main>
Â Â Â Â </div>
<%else%>
<%if @listing.reviews.all.any? %>
<ul>
<% review= @listings.reviews.each do |review|%>
   <li> <%= link_to review.title, review_path(review)%></li>
<% end %>
<%else%>
<hr>
This listing has no reviews yet !
<%end%>
</ul>

</h2>
</div>
</section>
</body>
<%end%>
