
<section class="hero is-white is-fullheight">
<div class="hero-body">
    <div class="container has-text-centered">
        <div class="column is-4 is-offset-4">
            <h3 class="title has-text-black">Sign up</h3>
            <hr class="login-hr">
            <p class="subtitle has-text-black">Wᴇʟᴄᴏᴍᴇ ᴛᴏ Tʀᴀᴠᴇʟ ʀᴀɪʟs !</p>
            <div class="box">
<h1> Create your account </h1>
<% if flash[:errors]%>
    <% flash[:errors].each do |message| %>
        <%= message%>
    <% end %>
<% end %>

<%= form_for @user do |u|%>
    <%= u.label :first_name %>
    <%= u.text_field :first_name %> <br>

    <%= u.label :last_name %>
    <%= u.text_field :last_name %> <br>

    <%= u.label :age%>
    <%= u.text_field :age %> <br>

    <%= u.label :email %>
    <%= u.text_field :email %> <br>

    <%= u.label :password %>
    <%= u.password_field :password %> <br>

    <%= u.submit%> 

<% end %>
</div>
    </div>
</div>
</section>