<h1>Welcome to <%=@user.first_name%>'s page</h1>

<h2>Listing</h2>

<% @user.listings.each do |post|%>
    <%= post.title %> <br>
    <%= post.description %> <br>
    <%= post.price%> <br>
<% end %>

<h2>Previous Reservations</h2>

<% @user.reservations.each do |reservation|%>
    <%= reservation.listing.title %>
<% end %>