<h1>Welcome to <%=@user.first_name%>'s page</h1>

<h2>L I S T I N G S</h2>
<div>
<% @user.listings.each do |post|%>
    <%if post.image.attached?%>
<%= image_tag url_for(post.image)%><br>
<%=link_to "More information",listing_path(post)%><br>

<% end %>
<%end%>
<%=link_to "Add your home", new_listing_path%><br>
</div>

<h2>P R E V I O U S  R E S E R V A T I O N S</h2>

<% @user.reservations.each do |reservation|%>
    <%= link_to reservation.listing.title, reservation_path(reservation) %> <br>
<% end %>


