<h1>Reservation edit form </h1>
<%= form_for @reservation do |f|%>
    <%=f.label :guest_amount%><br>
    <%=f.number_field :guest_amount %><br>

    <%=f.label :checkin%><br>
    <%=f.date_field :checkin %><br>

    <%=f.label :check_out%><br>
    <%=f.date_field  :checkout %><br>
 <%=f.submit%>
    <%end%>