<h1>Reservation form </h1>
<%# listing_reservations_path %>
<%= form_for @reservation do |f|%>
    <%=f.label :guest_amount%><br>
    <%=f.number_field :guest_amount %><br>

    <%=f.label :checkin%><br>
    <%=f.date_field  :checkin %><br>

    <%=f.label :checkout%><br>
    <%=f.date_field  :checkout %><br>

   <%= f.hidden_field :listing_id, :value => params[:listing_id]%>   <%=f.submit "Make Reservation"%>
    <%end%>
