
    <main class="container content box">

	<h1 class="title">Your Feedback is Important</h1>
<%=form_for @review do |f|%>
    <%=f.label :title%><br>
    <%=f.text_field :title%><br>
    <%=f.label :description%><br>
    <%=f.text_area :description%><br>
    <%=f.label :rating %><br>
    <%=f.number_field :rating %><br>
    <%=f.submit%>
    <%end%>



</main>
