
 
<section class="hero is-success is-fullheight">
<div class="hero is-fullheight is-primary has-background">
  <img alt="Fill Murray" class="hero-background is-transparent" src="https://i.gifer.com/5L5q.gif" />
  <div class="hero-body">
   <main class="review content box">
    
	<font size="6">Your Feedback is Important</font>
<br>
<br>
<% if flash[:messages]%>
    <% flash[:messages].each do |m|%>
        <%= m %> <br>
    <% end %>
<% end %>

<%=form_for @review do |f|%>
    <%=f.label :title%><br>
    <%=f.text_field :title%><br>

    <%=f.label :description%><br>
  <%=f.text_area :description%><br>

 <%=f.label :rating %><br>
<%=f.number_field :rating %><br>


    <%# <%= f.hidden_field :host_id, :value => @host.id%> 
    <%= f.hidden_field :listing_id, :value => @listing.id%>
    <%# <%= f.hidden_field :reservation_id, :value => @listing.%>

    <%=f.submit "Submit Review"%>
    <%end%>

	</form>

</main>
