<!DOCTYPE html>
<html>
  <head>
    <title>TravelRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
  <% if current_user%>
  <div class="block">
  <nav class="navbar box is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">

      <a class="navbar-item is-hidden-touch">
      <img src="">      </a>

      <div class="navbar-item has-dropdown is-hoverable is-hidden-desktop">
        <a class="navbar-link">
          <img  src="./images/airbnb-logo.png" alt="airbnb logo"/>
        </a>
        <div class="navbar-dropdown is-visible">
         
          <hr class="dropdown-divider">
         
          <hr class="dropdown-divider">
          <a href="new_listing_path" class="dropdown-item">
            Host a home<br/>
          </a>
         
          <a href="#" class="dropdown-item">
            Sign Up
          </a>
          <a href="#" class="dropdown-item">
            Log In
          </a>
          <hr class="dropdown-divider">
          <a href="/" class="dropdown-item">
            Home
          </a>
        </div> <!-- /.navbar-dropdown -->
      </div> <!-- /.navbar-item -->

      <!-- SEARCHBAR -->
      <div class="navbar-item is-block">
        <a href="" class="button is-hidden-desktop">
          <span class="icon">
            <i class="fas fa-search"></i>
          </span>
          <span>Try "Montreal"</span>
        </a>
        <div class="field is-hidden-touch">
          <p class="control has-icons-left">
            <input class="input" type="text" placeholder='Try "Montreal"'>
            <span class="icon is-small is-left">
              <i class="fas fa-search"></i>
            </span>
          </p>
        </div>
      </div> <!-- /.navbar-item -->
    </div> <!-- /.navbar-brand -->

    <div class="navbar-end is-hidden-touch">
    
      <a href="/" class="button is-white">
      <button class="button is-white" >
          Explore
      </button> </a>
      
      <div class="dropdown is-hoverable">
  <div class="dropdown-trigger">
    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
      <span>My account</span>
      <span class="icon is-small">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
  </div>
  <div class="dropdown-menu" id="dropdown-menu4" role="menu">
    <div class="dropdown-content">
      <div class="dropdown-item">
        <p><%=link_to "My listings" ,user_path(current_user)%></p><br>
        <p><%=link_to "Logout" , "/logout "%></p><br>


      </div>
    </div>
  </div>
</div>
      
      
    </div><!-- /.navbar-end -->

  </nav>
</div><!-- /.block -->
  <section class="section">
  
  </section>
<%else%>
  <div class="block">
  <nav class="navbar box is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">

      <a class="navbar-item is-hidden-touch">
      <img src="">      </a>

      <div class="navbar-item has-dropdown is-hoverable is-hidden-desktop">
        <a class="navbar-link">
          <img  src="./images/airbnb-logo.png" alt="airbnb logo"/>
        </a>
        <div class="navbar-dropdown is-visible">
         
          <hr class="dropdown-divider">
         
          <hr class="dropdown-divider">
          <a href="new_listing_path" class="dropdown-item">
            Host a home<br/>
          </a>
         
          <a href="#" class="dropdown-item">
            Sign Up
          </a>
          <a href="#" class="dropdown-item">
            Log In
          </a>
          <hr class="dropdown-divider">
          <a href="/" class="dropdown-item">
            Home
          </a>
        </div> <!-- /.navbar-dropdown -->
      </div> <!-- /.navbar-item -->

      <!-- SEARCHBAR -->
      <div class="navbar-item is-block">
        <a href="" class="button is-hidden-desktop">
          <span class="icon">
            <i class="fas fa-search"></i>
          </span>
          <span>Try "Montreal"</span>
        </a>
        <div class="field is-hidden-touch">
          <p class="control has-icons-left">
            <input class="input" type="text" placeholder='Try "Montreal"'>
            <span class="icon is-small is-left">
              <i class="fas fa-search"></i>
            </span>
          </p>
        </div>
      </div> <!-- /.navbar-item -->
    </div> <!-- /.navbar-brand -->

    <div class="navbar-end is-hidden-touch">
     <a <button class="button is-white">
          Become a host
      </button></a>
      <a href="/" class="button is-white">
      <button class="button is-white" >
          Home
      </button> </a>
      <a href="/signup" class="button is-white">
      <button class="button is-white">
          Sign Up
      </button></a>
      
      <a href="/login" class="button is-white">
      <button  class="button is-white"> 
          Log In
      </button></a>
    </div><!-- /.navbar-end -->

  </nav>
</div><!-- /.block -->
  <section class="section">
  
  </section>
  <%end%>
    <%= yield %>
    
  </body>
</html>
